{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Blog Comments</legend>
             {{ form|crispy }}      
                  <br><br>                   
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Comment</button>

        </div>
    </form>
    


</div> 
{% endblock content %}




