{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">

    <div class="form-group">
        <fieldset class="form-group">
            <form method="POST"enctype="multipart/form-data"></form>
        {% csrf_token %}
        {{ form.media }}
        {{ form.as.p }}



        </fieldset>
        
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Blog Post</legend>
             {{ form|crispy }}      
                                     
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>

        </div>

    </form>
</div> 
{% endblock content %}




