{% extends "blog/base.html" %}

{% block content %}
    
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
      <div class="media-body">

       

        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted }}</small>


          {% if object.author == user %}
          <div>
            <a class= "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class= "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
           
          {% endif %}
        </div>
        
      <h2 class="article-title">{{ object.title }}</h2>
      {% if post.image  %}
      <img src="{{ post.image.url }}" alt=""> <br><br>
      {% endif %}
    <p class="article-content">{{ object.content }}</p>

  </div>

  <br>
  <br>

  <h4>Comments...</h4>

  {% if not post.comments.all %}
     No Comments Yet... <a href="{% url 'add-comment' post.pk %}">Add one..</a>
    {% else %}
    <br>
    <br>

    <a href="{% url 'add-comment' post.pk %}">Add Comment</a>



    <br><br>
      {% for comment in post.comments.all  %}

          
            {{ comment.name}}
            - 
            {{ comment.date_added }}
          
          <br>
          <strong>

            {{ comment.body }}

          </strong>
          

      {% endfor %}
              
  {% endif %}
<br><br>

 </article>
    
{% endblock content %}
